{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("avatar_upload") }}" method="post" {{ form_enctype(avatarForm) }}>
<div class="form-group"> 
    <div class="error_list">{{ form_errors(avatarForm.file) }}</div>
    {{ form_widget(avatarForm.file, {'attr': {'class': 'form-control'} }) }}
   <input type="submit" value="Upload Document" />
    
    <a class="btn btn-default btn-warning text-left" href="#" id="avatar_change">
        <img src="{{app.user.getCurrentAvatarPath}}" alt="{{app.user.username}}" class="img-rounded">
    </a>
</div>        
</form>
        
{{ form_start(form, {'attr': {'class': 'fos_user_profile_edit'} }) }}
<div class="form-group">
    <div class="error_list">{{ form_errors(form.username) }}</div>
    {{ form_label(form.username) }}
    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Pseudo'} }) }}
</div>
<div class="form-group">
    <div class="error_list">{{ form_errors(form.email) }}</div>
    {{form_label(form.email)}}
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
</div>
<div class="form-group">
    <div class="error_list">{{ form_errors(form.current_password) }}</div>
    {{form_label(form.current_password)}}
    {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'Mot de Passe'} }) }}
</div>
<div class="form-group">
    <div class="text-left col-lg-6">
        <a class="btn btn-default text-left" href="{{ path('fos_user_profile_show') }}">Retour au profile</a>
    </div>
    <div class="text-right col-lg-6">
        <input type="submit" class="btn btn-default btn-success text-right" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</div>
{{form_end(form)}}