{% extends "FOSUserBundle::layout.html.twig" %}
{% block content %}
    <div class="main container-fluid">
        <h2>Bienvenue dans votre compte {{ app.user.username }}</h2>
        <br/>
        {% if not app.user.isActif() %}
            Votre compte n'a pas encore été validé par les administrateur 
        {% else %}
            <h3>Information sur votre compte</h3>
            {% if app.user.isAdmin() %}
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-6">            
                        <p class="bg-info">Votre compte est un compte administrateur</p>            
                    </div>        
                {% endif %}

                <div class="row">
                    <div class="col-sm-4">
                        <a class="btn btn-default btn-warning text-left" href="{{ path('fos_user_profile_edit') }}">
                            <img src="{{app.user.getCurrentAvatarPath}}" alt="{{app.user.username}}" class="img-rounded">
                        </a>
                    </div>
                    <div class="col-sm-6">  
                        Pseudo : {{app.user.username}}
                    </div>
                </div>    
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-6">  
                        Email : {{app.user.email}}
                    </div>
                </div>      
            {% endif %}
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <div class="text-left col-lg-6">
                <a class="btn btn-default text-left" href="{{ path('front_accueil') }}">Retour à l'accueil</a>
            </div>
            <div class="text-right col-lg-6">
                <a class="btn btn-default btn-warning text-left" href="{{ path('fos_user_profile_edit') }}">Modification du compte</a>
            </div>
        </div>
    </div>
{% endblock content %}