<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Omaracuja{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/css/jquery-ui-1.10.4.custom.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/datetimepicker/jquery.datetimepicker.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/select2/select2-bootstrap.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/select2/select2.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/css/front.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/css/cropper.css') }}" />     
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/summernote/css/summernote.css') }}" /> 
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/bundles/omaracujafront/summernote/css/font-awesome.min.css') }}" /> 
        {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@OmaracujaUserBundle/Resources/Public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@OmaracujaAdminBundle/Resources/Public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <script src="{{ asset('/bundles/omaracujafront/js/jquery.min.js') }}"></script>
        {#        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=fr"></script>#}
        <script src="{{ asset('/bundles/omaracujafront/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/bootstrap/js/plugins/carousel.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/js/jquery-ui-1.10.0.custom.min.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/datetimepicker/jquery.datetimepicker.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/select2/select2.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/select2/select2_locale_fr.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/js/cropper.js') }}"></script>  
        <script src="{{ asset('/bundles/omaracujafront/js/main.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/js/initialisationGMaps.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/summernote/summernote.min.js') }}"></script>
        <script src="{{ asset('/bundles/omaracujafront/summernote/summernote-fr-FR.js') }}"></script>

        {% javascripts '@OmaracujaUserBundle/Resources/Public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@OmaracujaAdminBundle/Resources/Public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% block head %}{% endblock %}
</head>        
<body>
    <nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('front_presentation') }}" class="nav-logo" ><img src="{{ asset('/bundles/omaracujafront/images/omaracuja_logo.png') }}"></a>
            </div>

            <div id="nav-bar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left navbar-form">
                    <li><a href="{{ path('front_evennement') }}">Évènements</a></li>
                    <li><a href="{{ path('front_albums') }}">Photos</a></li>
                    <li><a href="{{ path('front_video') }}">Vidéos</a></li>
                    <li><a href="{{ path('front_contact') }}">Contact</a></li>
                    <li><a href="{{ path('front_newsletter') }}">Newsletter</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.isAdmin() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('admin_panel_users') }}">Utilisateurs</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('admin_panel_event') }}">Evènements</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('admin_panel_albums') }}">Albums photos</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('admin_panel_video') }}">Vidéos</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('admin_panel_newsletter') }}">Newsletter</a></li>
                            </ul>
                        </li>                        
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-form connexion-form">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if app.user.isActif() %}
                            <li><a href="{{ path('fos_user_profile_show') }}">Mon Profil</a></li>
                            <li><a href="{{ path('compte_agenda') }}">Mon Agenda</a></li>
                            {% endif %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                                &nbsp;{{ app.user.username }}{% if (not app.user.isActif()) %} - compte non validé{% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span class=" glyphicon glyphicon-ban-circle"></span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <div class="nav-picto-equipe" id="nav-picto-equipe" ><img src="{{ asset('bundles/omaracujafront/images/omaracuja_picto_equipe.jpg') }}"></div>
                                {% block connexion %}
                                {% endblock %}    
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div id="mainContainer" class="container">
        {% for flashMessage in app.session.flashbag.get('alert-success') %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flashMessage | raw }}
            </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
    <div class="modal" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" id="myModalLabel"></h5>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</body>       
</html>