{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation Evènements{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <h1>Les Evènements</h1> 
        <br/>
        <div class="form-group">
                <div class="text-left col-lg-6">
                    <a href="{{ path('front_accueil') }}" class="btn btn-default text-left">Retour à l'accueil</a>
                </div>
                <div class="text-right col-lg-6">
                    <a href="{{ path('admin_create_event') }}" class="btn btn-default btn-warning text-right">Ajouter un evennement</a>
                </div>
            </div>
        <br/>
        <div class="col-md-12">  
            {% for event in events %}
                <div class="row post panel panel-default">
                    <div class="text-center col-md-12">  
                        <h3>{{ event.title }}</h3>
                    </div>
                    <br/>
                    <br/><br/><br/>
                    <div class="post row col-lg-4">
                        <input type="hidden" value="{{ event.mapY }}" id="google_map_y" />                            
                        <input type="hidden" value="{{ event.mapX }}" id="google_map_x" />
                        <div class="row event_left">
                            <strong>{{ event.place }}</strong>
                        </div>
                        <br/>
                        <div class="row event_left">
                            <div id="map-canvas" class="col-md-8 event_map_show " ></div>
                        </div>
                    </div>
                    <div class="row col-lg-8">
                        {% autoescape false %}
                            {{ event.description }}
                        {% endautoescape %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}