{% extends "::base.html.twig" %}

{% block title %}O Maracujá - Administation Evènements{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">  
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Ajout d'un Evènements</h2>  
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">  
                            {{ form_start(eventForm, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data' } }) }} 
                            <div class="row">  
                                <div class="col-md-5">        
                                    <div class="form-group">
                                        <img src="{{event.getPicturePath}}" alt="{{event.title}}" class="img-rounded">
                                        <br/>
                                    </div>
                                </div>
                                <div class=" col-md-7">  
                                    <div class="form-group">
                                        <div class="error_list">{{ form_errors(eventForm.title) }}</div>
                                        {{ form_widget(eventForm.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
                                    </div>
                                    <div class="form-group event_description">                        
                                        <div class="error_list">{{ form_errors(eventForm.private_description) }}</div>
                                        <label class="required" for="omaracuja_frontbundle_event_public_description">Texte publique de l'évennement</label>
                                        {{ form_widget(eventForm.public_description, {'attr': {'class': 'form-control summernote_event', 'placeholder': 'Petit texte publique'} }) }}
                                    </div>     
                                    <div class="form-group event_description">                        
                                        <div class="error_list">{{ form_errors(eventForm.private_description) }}</div>
                                        <label class="required" for="omaracuja_frontbundle_event_private_description">Description privée</label>
                                        {{ form_widget(eventForm.private_description, {'attr': {'class': 'form-control summernote_event', 'placeholder': 'Description privée'} }) }}
                                    </div> 
                                </div>
                            </div>
                            <div class="row">  

                                <div class="col-md-4 form-group" >
                                    {{ form_label(eventForm.public) }}
                                    {{ form_widget(eventForm.public) }}
                                </div>
                                <div class="col-md-4 form-group" >
                                    <div class="error_list">{{ form_errors(eventForm.place) }}</div>
                                    {{form_label(eventForm.place)}}
                                    {{ form_widget(eventForm.place, {'attr': {'class': 'form-control google_map_adress', 'placeholder': 'Lieu'} }) }}
                                </div>
                                <div class="col-md-4  form-group" >
                                    <div class="error_list">{{ form_errors(eventForm.startAtFr) }}</div>
                                    {{form_label(eventForm.startAtFr)}}
                                    {{ form_widget(eventForm.startAtFr, {'attr': {'class': 'datetimepicker', 'placeholder': 'ex: 07 Sep 1985 11:55'} }) }}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-12"> 
                                <div id="map-canvas" class="event_map_choose col-md-10" ></div>
                                {{ form_widget(eventForm.mapX, {'attr': {'class': 'mapX_setting'} }) }}
                                {{ form_widget(eventForm.mapY, {'attr': {'class': 'mapY_setting'} }) }}
                            </div>
                        </div>


                        <div class="row">  
                            <div class="form-group col-md-6">
                                <div class="error_list">{{ form_errors(eventForm.dateAAfficher) }}</div>
                                {{form_label(eventForm.dateAAfficher)}}
                                {{ form_widget(eventForm.dateAAfficher, {'attr': {'class': 'form-control', 'placeholder': 'Date à afficher'} }) }}

                            </div>
                            <div class="form-group col-md-6">
                                <div class="error_list">{{ form_errors(eventForm.lieuAAfficher) }}</div>
                                {{form_label(eventForm.lieuAAfficher)}}
                                {{ form_widget(eventForm.lieuAAfficher, {'attr': {'class': 'form-control', 'placeholder': 'Lieu à Afficher'} }) }}

                            </div>
                        </div> 
                        <div class="row">  
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="error_list">{{ form_errors(eventForm.proposedTeam) }}</div>
                                    {{form_label(eventForm.proposedTeam)}}
                                    {{ form_widget(eventForm.proposedTeam, {'attr': {'class': 'form-control select2', 'placeholder': 'Proposer à'} }) }}
                                </div>     
                            </div>
                        </div> 
                        <div class="row">  
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="error_list">{{ form_errors(eventForm.actualTeam) }}</div>
                                    {{form_label(eventForm.actualTeam)}}
                                    {{ form_widget(eventForm.actualTeam, {'attr': {'class': 'form-control select2', 'placeholder': 'Qui y va déjà'} }) }}
                                </div>     
                            </div>
                        </div> 
                        <div class="row event_create_submit">  
                            <div class="form-group">
                                <div class="text-center">
                                    <input type="submit" class="btn btn-default btn-success text-right" value="Enregistrer" />
                                </div>
                            </div>
                        </div>
                        {{form_end(eventForm)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}