{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation Evènements{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">   

        <h3>Ajout d'un Evènements</h3>    
        <br/>
        <div class="col-md-12">  
            {{ form_start(newEventForm, {'attr': {'novalidate': 'novalidate'} }) }}
            <div class="form-group">
                <div class="error_list">{{ form_errors(newEventForm.title) }}</div>
                {{ form_label(newEventForm.title) }}
                {{ form_widget(newEventForm.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
            </div>
            <div class="form-group">
                <div class="error_list">{{ form_errors(newEventForm.description) }}</div>
                {{form_label(newEventForm.description)}}
                {{ form_widget(newEventForm.description, {'attr': {'class': 'form-control summernote', 'placeholder': 'Description'} }) }}
            </div>

            <div class="row">  
                <div class="col-md-4 post">
                    {{ form_label(newEventForm.public) }}
                    {{ form_widget(newEventForm.public) }}
                </div>

                <div class="col-md-4 form-group">
                    <div class="error_list">{{ form_errors(newEventForm.startAt) }}</div>
                    {{form_label(newEventForm.startAt)}}
                    {{ form_widget(newEventForm.startAt, {'attr': {'class': 'datetimepicker', 'placeholder': 'ex: 07 Sep 1985 11:55'} }) }}
                </div>        
                <div class="col-md-4 form-group">
                    <div class="error_list">{{ form_errors(newEventForm.endAt) }}</div>
                    {{form_label(newEventForm.endAt)}}
                    {{ form_widget(newEventForm.endAt, {'attr': {'class': 'datetimepicker', 'placeholder': 'ex: 07 Sep 1985 11:55'} }) }}
                </div>
            </div>

            <div class="row">  
                <div class="col-md-3 form-group">
                    <div class="error_list">{{ form_errors(newEventForm.place) }}</div>
                    {{form_label(newEventForm.place)}}
                    {{ form_widget(newEventForm.place, {'attr': {'class': 'form-control google_map_adress', 'placeholder': 'Lieu'} }) }}
                    <br/>
                    <input id="google_map_refresh_map" type="button" class="btn btn-default"  value="Localiser" />
                </div>
                <div id="map-canvas" class="col-md-8" style=""></div>
                    {{ form_widget(newEventForm.mapX, {'attr': {'class': 'mapX_setting'} }) }}
                    {{ form_widget(newEventForm.mapY, {'attr': {'class': 'mapY_setting'} }) }}
            </div>

            <div class="form-group">
                <div class="error_list">{{ form_errors(newEventForm.proposedTeam) }}</div>
                {{form_label(newEventForm.proposedTeam)}}
                {{ form_widget(newEventForm.proposedTeam, {'attr': {'class': 'form-control select2', 'placeholder': 'Proposer à'} }) }}
            </div>     

            <div class="form-group text-center">
                    <input type="submit" class="btn btn-default btn-success text-right" value="Enregistrer" />
            </div>
            {{form_end(newEventForm)}}

        </div>


    {% endblock %}