{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation Evénements{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <h1>Administration - Photos </h1>
        <br/>
        <div class="col-md-12">
            <div class="row" id="crop-picture">

                <div class="picture-default-view">
                    <img src="{{newPicture.getCurrentPicturePath}}" style="display: none;">
                </div>

                <div class="col-md-12">
                    <a href="#" class="picture-link btn btn-default btn-danger text-right">Ajouter une photo</a>
                </div>
                {% include 'OmaracujaAdminBundle:Admin:picture_cropping_modal.html.twig' with {'pictureForm': form } %}
                <br/>
                {% for month,pictures in picturesByMonth %}
                    <div class="col-md-12 pictures-show" >
                        <h2>{{ month }}</h2>
                        {% if(loop.first) %}
                            <div id="new-picture-place"></div>
                        {% endif %}
                        {%for picture in pictures %}
                            <div class="picture-view col-lg-3 col-md-4 col-xs-6 thumb">
                                <div class="thumbnail">
                                    <div class="img-with-title">
                                        <div class="caption">
                                            <h2>{{picture.title}}</h2>
                                            <p>{{picture.description}}</p>
                                        <p><a href="#" class="label btn-zoom" rel="tooltip" title="Zoomer" id="{{loop.index0}}" >Zoom</a>
                                                <a href="{{ path('front_picture_download',{ 'idPicture': picture.id }) }}" class="label label-default" rel="tooltip" title="Télécharger">Téléchargement</a></p>
                                        </div>
                                        <img src="{{picture.getCurrentPicturePath}}" alt="{{picture.title}}" class="img-responsive">
                                    </div>
                                </div>
                            </div>   
                        {% endfor %}
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
        {% include 'OmaracujaFrontBundle:Front:picture_view_modal.html.twig' with {'picturesByMonth': picturesByMonth } %}
    </div>  
{% endblock %}