<div class="modal fade" id="picture-modal" tabindex="-1" role="dialog" aria-labelledby="picture-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="picture-form" action="{{ path("admin_picture_upload") }}" method="post" enctype="multipart/form-data" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="picture-modal-label">Ajouter une image à l'événement</h4>
                </div>
                <div class="modal-body">
                    <div class="picture-body">

                        <!-- Upload image and data -->
                        <div class="picture-upload">
                            {{ form_widget(pictureForm.file, {'attr': {'class': 'picture-input'} }) }}
                            {{ form_widget(pictureForm.src, {'attr': {'class': 'picture-src'} }) }}                    
                            {{ form_widget(pictureForm.data, {'attr': {'class': 'picture-data'} }) }}
                        </div>

                        <!-- Crop and preview -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="picture-wrapper"></div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="error_list">{{ form_errors(pictureForm.title) }}</div>
                                    {{ form_widget(pictureForm.title, {'attr': {'class': 'form-control picture-modal-form-title', 'placeholder': 'Titre'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary picture-save" type="submit">Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal -->

<!-- Loading state -->
<div class="loading" tabindex="-1" role="img" aria-label="Loading"></div>
