{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation présentation{% endblock %}


{% block content %}
    <div class="main">   
        <h1>Ajout d'une page de présentation</h1>        
             <div class="col-md-10">  
        {{ form_start(form, {'attr': {'class': ''} }) }}
        <div class="form-group">
            <div class="error_list">{{ form_errors(form.title) }}</div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
        </div>
        <div class="form-group">
            <div class="error_list">{{ form_errors(form.paragraph1) }}</div>
            {{form_label(form.paragraph1)}}
            {{ form_widget(form.paragraph1, {'attr': {'class': 'form-control', 'placeholder': '1er paragraphe'} }) }}
        </div>
        <div class="form-group">
            <div class="error_list">{{ form_errors(form.paragraph2) }}</div>
            {{form_label(form.paragraph2)}}
            {{ form_widget(form.paragraph2, {'attr': {'class': 'form-control', 'placeholder': '2nd paragraphe'} }) }}
        </div>
        <div class="form-group">
            <div class="error_list">{{ form_errors(form.paragraph3) }}</div>
            {{form_label(form.paragraph3)}}
            {{ form_widget(form.paragraph3, {'attr': {'class': 'form-control', 'placeholder': '3eme paragraphe'} }) }}
        </div>        
                <div class="form-group">
            <div class="error_list">{{ form_errors(form.map_link) }}</div>
            {{form_label(form.map_link)}}
            {{ form_widget(form.map_link, {'attr': {'class': 'form-control', 'placeholder': 'Lien Google Map'} }) }}
        </div>
        
                <div class="form-group">
            <div class="error_list">{{ form_errors(form.adresse) }}</div>
            {{form_label(form.adresse)}}
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'} }) }}
        </div>
        
                <div class="form-group">
            <div class="error_list">{{ form_errors(form.contact) }}</div>
            {{form_label(form.contact)}}
            {{ form_widget(form.contact, {'attr': {'class': 'form-control', 'placeholder': 'Contact'} }) }}
        </div>
                <div class="form-group">
            <div class="error_list">{{ form_errors(form.fb_link) }}</div>
            {{form_label(form.fb_link)}}
            {{ form_widget(form.fb_link, {'attr': {'class': 'form-control', 'placeholder': 'Facebook'} }) }}
        </div>       
        

        <div class="form-group">
            <div class="text-left col-lg-6">
                <a class="btn btn-default text-left" href="{{ path('admin_panel_presentation') }}">Retour à l'administration de la page de présentation</a>
            </div>
            <div class="text-right col-lg-6">
                <input type="submit" class="btn btn-default btn-success text-right" value="Enregistrer" />
            </div>
        </div>
        {{form_end(form)}}
    </div>
{% endblock %}