{% extends "::base.html.twig" %}

{% block title %}Omaracuja - Administation Utilisateurs{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}


{% block content %}
    <div class="main">   

        <h1>Liste des Administrateurs</h1>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <td>Nom d'utilisateur</td>
                    <td>Prénom</td>
                    <td>Nom</td>
                    <td>Email</td>
                    <td>Role</td></tr>
            </thead>
            <tbody>
                {% for user in usersAdmin %}
                    <tr class="{% if(not user.isAdmin) %}" style="background-color: {% if(user.isActif) %}#eee{% else %}#444444{% endif %} {% endif %}">
                        <td>{{ user.username|e }}</td>
                        <td>{{ user.firstname|e }}</td>
                        <td>{{ user.name|e }}</td>
                        <td>{{ user.email|e }}</td>
                        <td>{% if(user.isAdmin) %}ADMINISTRATEUR{% else %}UTILISATEUR{% endif %}</td>
                        </tr>   
                    {% endfor %}
            </tbody>
        </table>
        <br/>
        <br/>
        <h1>Liste des Utilisateurs</h1>
        <table class="table table-responsive users">
            <thead>
                <tr>
                    <td>Nom d'utilisateur</td>
                    <td>Prénom</td>
                    <td>Nom</td>
                    <td>Email</td>
                    <td>Role</td>
                    <td>Action</td></tr>
            </thead>
            <tbody>
                {% for user in usersNoAdmin %}
                    <tr class="{% if(not selectedUser is null and selectedUser == user.id ) %}selected{% endif %}  {% if(not user.isAdmin) %} {% if(user.isActif) %}success{% else %}danger{% endif %} {% endif %}">
                        <td>{{ user.username|e }}</td>
                        <td>{{ user.firstname|e }}</td>
                        <td>{{ user.name|e }}</td>
                        <td>{{ user.email|e }}</td>
                        <td>{% if(user.isAdmin) %}ADMINISTRATEUR{% else %}UTILISATEUR{% endif %}</td>
                        <td>
                            {% if(not user.isAdmin) %}
                                {% if(not user.isActif) %}
                                    <a href="{{ path('admin_user_activate',{ 'userId': user.id }) }}">Activer</a>
                                {% else %}
                                    <a href="{{ path('admin_user_desactivate',{ 'userId': user.id }) }}">Désactiver</a>  
                                {% endif %}
                            {% endif %}
                        </td></tr>   
                    {% endfor %}
            </tbody>
        </table>


    </div>


{% endblock %}
