{% extends 'base.html.twig' %}

{% block body %}



{% if app.session.flashBag.has('success') %}
<div class="alert alert-success" style="margin-top: 120px; text-align:center;">
    {% for msg in app.session.flashBag.get('success') %}
    {{ msg }}
    {% endfor %}
</div>
{% endif %}
<header class="omaracujahead text-center text-white d-flex">
</header>

<section class="bg-primary" id="quisommenous">

  <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-lg-12 col-sm-12 text-center">
                <img class="img-fluid" src="img/quisommesnous.jpg" alt="qui sommes-nous ?">
            </div>
            </div>
            </div>

        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto" style='font-family:"Courier New", Regular; font-size: 15pt;'>
          <br/>
        <p class="mb-4 text-in-p">O Maracujá ne sait se présenter qu'en percussions et se définir qu'en contradictions.
            Un poil samba-reggae, mais pas vraiment Brésilienne, assez dissipée, mais sérieusement engagée, absolument multiple, mais dans l'unité, indéfiniment en chantier, mais toujours prête à jouer, un peu folle, mais les pieds bien ancrés, à la limite du bon goût, mais sans jamais basculer...
            O Maracujá, finalement, ne sait qu'une seule chose : être elle-même.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary" id="nosspectacles">
    <div class="d-md-none col-md-12">
         <hr class="my-4">
     </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center" style='font-family:"Courier New", Regular; font-size: 15pt;'>
          <div class="row">
              <div class="col-lg-6">
                  <div class="container-fluid p-0">
                    <div class="row no-gutters">
                      <div class="col-lg-12 col-sm-12">
                          <img class="img-fluid" src="img/madmarak.jpg" alt="">
                      </div>
                      </div>
                      </div>
                      <br/>
                      <br/>
                  <h3>Mad Marak'</h3>
                  <br/>
                  <p  class="text-in-p">Tout droit sorti du désert, le specatcle Mad Marak et ses rythmes explosifs transcendent une ambiance steampunk post-apocalyptique !
        </p>
                </div>
                <div class="d-md-none col-md-12">
                     <hr class="my-4">
                </div>
                <div class="col-lg-6">
                <div class="container-fluid p-0">
                  <div class="row no-gutters">
                    <div class="col-lg-12 col-sm-12">
                        <img class="img-fluid" src="img/bloco.jpg" alt="">
                    </div>
                    </div>
                    </div>

                    <br/>
                    <br/>
                    <h3>Punk à Paillettes</h3>
                    <br/>
                    <p  class="text-in-p">Rythmes percussifs de tous bords saupoudrés d'une inspiration brésilienne. Dans un style punk rock à paillettes débordant d'énergie, ça vibre !
                    </p>
                </div>
                <div class="d-md-none col-md-12">
                     <hr class="my-4">
                </div>
          </div>
      <div class="row">
      <br/>
  </div>
    </div>
  </div>
</section>

<section class="bg-primary p-0" id="photos">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
        {% for photovideo in onyetait %}
            {% if photovideo[0] == 'PHOTO' %}
              <div class="col-lg-4 col-sm-6">
                <a class="omaracuja-box" href="img/onyetait/fullsize/{{photovideo[3]}}" alt="{{photovideo[1]}}">
                  <img class="img-fluid" src="img/onyetait/thumbnails/{{photovideo[4]}}" alt="{{photovideo[1]}}">
                  <div class="omaracuja-box-caption">
                    <div class="omaracuja-box-caption-content">
                      <div class="project-category text-faded">
                        {{photovideo[1]}}
                      </div>
                      <div class="project-name">
                        {{photovideo[2]}}
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% elseif photovideo[0] == 'YOUTUBE' %}
              <div class="col-lg-4 col-sm-6">
                  <div class="omaracuja-box container-video">
                      <iframe class="video" src="{{photovideo[1]}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
              </div>
              {% endif %}
          {% endfor %}
      </div>
  </div>
</section>


<section  class="bg-primary" id="dates">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-sm-12 mx-auto text-center" style='padding-top:50px; font-family:"Courier New", Regular; font-size: 15pt;'>
        <h1>Prochainement</h1>
        <ul class="list-unstyled ">
         {% for date in dates %}
         <li class="row" style="padding-bottom:2px;">
             <div class="col-lg-6 text-right d-none d-md-block">{{ date[0] }}</div>
             <div class="col-lg-6 text-left d-none d-md-block">{{ date[1] }}</div>
             <div class="col-sm-12 text-left d-md-none" style='font-family:"Courier New", Regular; font-size: 12pt;'>{{ date[0] }} {{ date[1] }}<br/><br/></div>
         </li>
         {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="contact" >
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Pour toute question, demande d'information, ou nous rejoindre, contactez-nous ici :</h2>
              <br/>
          </div>
      </div>
    <div class="row">
        <div class="col-lg-3 col-md-12"></div>
      <div class="col-lg-3 col-md-12" >
          <div style='font-family:"Courier New", Regular; font-size: 15pt;' class="d-none d-md-block">
              <p>contact[@]omaracuja.com</p>
              <p>Julien&nbsp;:&nbsp;+33&nbsp;6&nbsp;87&nbsp;85&nbsp;82&nbsp;99</p>
              <p>Cécile&nbsp;:&nbsp;+33&nbsp;6&nbsp;10&nbsp;74&nbsp;55&nbsp;38</p>
          </div>

          <div style='font-family:"Courier New", Regular; font-size: 12pt;' class="d-md-none">
              <p>contact[@]omaracuja.com</p>
              <p>Julien&nbsp;:&nbsp;+33&nbsp;6&nbsp;87&nbsp;85&nbsp;82&nbsp;99</p>
              <p>Cécile&nbsp;:&nbsp;+33&nbsp;6&nbsp;10&nbsp;74&nbsp;55&nbsp;38</p>
          </div>
          <div class="row socials">
              <div class="d-none d-md-block" style="padding-left:15px;">
                  <a href="https://www.facebook.com/omaracujabatucada/" target="_blank"><i class="fa fa-facebook-square text-muted" style="font-size:48pt;"></i></a>

                  <a href="https://www.youtube.com/channel/UCHK-lFsKdmHYHJDUFmHcUFw" target="_blank"><i  class="fa fa-youtube-square text-muted" style="font-size:48pt;"></i></a>

                  <a href="https://www.instagram.com/omaracuja/" target="_blank"><i  class="fa fa-instagram text-muted" style="font-size:48pt;"></i></a>

          </div>
          <div class="d-md-none col-sm-12 text-center">
              <a href="https://www.facebook.com/omaracujabatucada/" target="_blank" class="text-center"><i class="fa fa-facebook-square text-muted col-sm-4" style="font-size:48pt; display: inherit;"></i></a>
              <a href="https://www.youtube.com/channel/UCHK-lFsKdmHYHJDUFmHcUFw" target="_blank" class="text-center"><i  class="fa fa-youtube-square text-muted col-sm-4" style="font-size:48pt; display: inherit;"></i></a>
              <a href="https://www.instagram.com/omaracuja/" target="_blank" class="text-center"><i  class="fa fa-instagram text-muted col-sm-4" style="font-size:48pt; display: inherit;"></i></a>
          </div>
        </div>
        </div>


          <div class="d-md-none col-md-12">
                <div class="text-center">
                    <br/>
                  <h4>Contactez nous !</h4>
                  <br/>
                </div>
          </div>

      <div class="col-lg-3 col-md-12 text-left" style='font-family:"Courier New", Regular; font-size: 15pt;'>
          <form name="form" method="post" enctype="multipart/form-data">
          <div class="row" style="display:none;">
              <div class="col-lg-10 col-centered">
                  <div class="form-group">
                      {{ form_widget(form.nonnon) }}
                  </div>
              </div>
          </div>
              <div class="row">
                  <div class="col-lg-10 col-centered">
                      <div class="form-group">
                          {{ form_widget(form.name) }}
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-10 col-centered">
                      <div class="form-group">
                          {{ form_widget(form.phone) }}
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-10 col-centered">
                      <div class="form-group">
                          {{ form_widget(form.email) }}
                      </div>

                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-10 col-centered">
                      <div class="form-group">
                          {{ form_widget(form.message) }}
                      </div>
                  </div>
              </div>
              <div class="row">
             <div class="col-lg-10 col-centered">
                <div class="form-group">
                  <div class="captcha_wrapper">
                  <div class="g-recaptcha" data-sitekey="{{ capcha_key_public }}"></div>
                 </div>
               </div>
              </div>
              </div>

              <div class="row">
                  <div class="col-lg-10 col-centered">
                      <div class="form-group">
                          {{ form_widget(form.Envoyer) }}
                      </div>
                  </div>
              </div>

              {{ form_end(form) }}
      </div>
    </div>
    <div class="col-lg-3 col-md-12"></div>
    </div>
    <div class="d-md-none col-md-12">
         <hr class="my-4">
    </div>
    <div class="row">
        <div class="col-sm-12 d-md-none" >
          <p class="text-in-p" style='font-family:"Courier New", Regular; font-size: 10pt;' >

          <a class="btn btn-default" href="{{ path('instruments') }}"><i class="fa fa-lock text-muted" style="font-size:16pt;"></i></a>
          </p>
        </div>
        <div class="col-sm-12 d-md-none" >
          <p class="text-in-p" style='font-family:"Courier New", Regular; font-size: 10pt;' >

          <a class="btn btn-default" href="{{ path('application') }}" ><i class="fa fa-android text-muted pull-right" style="font-size:16pt;"></i></a>
          </p>
        </div>
        <div class="col-lg-12 col-md-12 d-none d-md-block"><br/><br/></div>
        <div class="col-lg-3 col-md-12 d-none d-md-block"></div>
        <div class="col-lg-3 col-md-12 d-none d-md-block" >
          <p class="text-in-p" >

          <a class="btn btn-default"  href="{{ path('instruments') }}" ><i class="fa fa-lock text-muted" style="font-size:24pt;"></i></a>
          </p>
        </div>
        <div class="col-lg-3 col-md-12 d-none d-md-block" >
          <p class="text-in-p"  >

          <a class="btn btn-default" href="{{ path('application') }}" ><i class="fa fa-android text-muted pull-right" style="font-size:24pt;"></i></a>
          </p>
        </div>
    </div>
  </div>
</section>
<script src="https://www.google.com/recaptcha/api.js"></script>

{% endblock %}
