<table border="0" cellpadding="10" cellspacing="0" width="100%" id="templateFooter" style="background-color: #000;border-top: 0;">
    <tr>
        <td valign="top" align="center" class="footerContent" style="border-collapse: collapse;">

            <table border="0" cellpadding="0" cellspacing="0" width="600">
                <tr>
                    <td valign="top" style="border-collapse: collapse;">
                        <div style="color: #d5d5d5;font-family: Arial;font-size: 11px;line-height: 125%;text-align: center;">
                            <br/>
                            <br/>
                            <a href="{{ url('front_presentation') }}" target="_blank">Présentation</a>
                            <a href="{{ url('front_evennement') }}" target="_blank">Evènements</a>
                            <a href="{{ url('front_albums') }}" target="_blank">Photos</a>
                            <a href="{{ url('front_video') }}" target="_blank">Vidéos</a>
                            <a href="{{ url('front_contact') }}" target="_blank">Contact</a>
                            <em>2014 Omaracuja.com</em>
                        </div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>