{% extends "::base.html.twig" %}

{% block title %}O Maracujá - Contact{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <br/>
    <br/>
    <br/>

    <div class="main" style="margin-bottom: 10px; padding-bottom: 10px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Contact</h1>
                <br/>
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-3 text-left">
                            <strong>Responsable : </strong>
                        </div>
                        <div class="col-md-9 text-left">
                            {{ responsable['nom'] }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-left">
                            <strong>Téléphone portable :  </strong>
                        </div>
                        <div class="col-md-9 text-left">
                            <a href="tel:{{ responsable['telephonePortable'] }}">{{ responsable['telephonePortable'] }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-left">
                            <strong>Email :  </strong>
                        </div>
                        <div class="col-md-9 text-left">
                            <a href="mailto:{{ responsable['email'] }}">{{ responsable['email'] }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-left">
                            <strong>Adresse Postale :  </strong>
                        </div>
                        <div class="col-md-9 text-left">
                            {{ siegeSocial['adresse'] }}
                        </div>
                    </div>
                    <br/><br/>
                </div> 
            </div>
        </div>
    </div>  
{% endblock %}