<div id="event_collapse_{{event.id}}" class="panel-collapse collapse">
    <div class="panel-body panel-body-event">
        <div class="row">
            <div class="col-md-5">
                <div class="row event_left">
                    <br/>
                    {% if admin is defined and admin %}
                        <div id="{{event.id}}" class='crop-eventPicture'>
                            <div class="eventPicture-link eventPicture-view" title="Choisir une image pour cet événement">
                                <img src="{{event.getPicturePath}}" alt="{{event.title}}" class="img-rounded img-responsive">
                            </div>   
                            {% include 'OmaracujaAdminBundle:Admin:eventPicture_cropping_modal.html.twig' with {'eventPictureForm': eventPictureForms['event_'~event.id], 'event':event } %}
                        </div>
                    {% else %}

                        <div id="{{event.id}}">
                            <img src="{{event.getPicturePath}}" alt="{{event.title}}" class="img-rounded img-responsive">

                        </div>
                    {% endif %}
                    <br/>
                </div>
                <br/>                
            </div>
            <div class="col-md-7">   
                {% if privilege is defined and privilege %}
                    <div class="agenda_description_panel panel panel-default">
                        <div class="panel-body-event">
                            {% autoescape false %}
                                {{ event.privateDescription }}
                            {% endautoescape %}
                        </div>
                    </div>
                {% endif %}   
                <div class="agenda_description_panel panel panel-default">
                    <div class="panel-body-event">
                        {% autoescape false %}
                            {{ event.publicDescription }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 event_left">
                <input type="hidden" value="{{ event.mapY }}" id="google_map_y_{{ event.id }}" />                            
                <input type="hidden" value="{{ event.mapX }}" id="google_map_x_{{ event.id }}" />
                <a href="http://maps.google.com/maps?q={{event.place | url_encode }}" target='_blank'>
                    <img class="img-rounded img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.mapX }},{{ event.mapY }}&zoom=15&size=800x180&markers=color:red%7C{{ event.mapX }},{{ event.mapY }}">
                </a>
            </div>
        </div>
    </div>
</div>