<a data-toggle="collapse" data-parent="#accordion" href="#event_collapse_{{event.id}}">
    <div class="col-md-12 text-red-omaracuja">  
        <h3>
            {%if privilegeMode is defined and privilegeMode %}
                {% if event.public %}
                    <span class="glyphicon glyphicon-star">&nbsp;</span>
                {% else %}
                    <span class=" glyphicon glyphicon-lock">&nbsp;</span>
                {% endif %}
            {% endif %}
            {{ event.title }}
        </h3>
    </div>
        
        <div class="col-md-12 text-left event_header_dates">            
            <strong>{{ event.dateAAfficher }}</strong>
        </div>
    {% if eventAccepted is defined and not eventAccepted is null %}    
        <div class="col-md-6 text-left">  
           <strong>
                {% if not pastEvent %} 
                    {% if eventAccepted %}<span class="text-red-omaracuja" >J'y vais</span>{% else %}<span class="text-muted">J'y vais pas...</span>{% endif %}
                {% else %}
                    {% if eventAccepted %}<span class="text-red-omaracuja" >J'y étais!</span>{% else %}<span class="text-muted">Snif...</span>{% endif %}
                {% endif %}
                {% if admin is defined and not admin is null %}
                    <span>
                        &nbsp;({{ event.actualTeam|length }}/{{ event.proposedTeam|length }}&nbsp;participent)            
                    </span>
                {% endif %}
            </strong>
        </div>
    {% endif %}
        <div class="col-md-6 text-right">
            <strong>{{ event.lieuAAfficher }}</strong>
        </div>

    {%if privilegeMode is defined and privilegeMode %}
        {% include "OmaracujaFrontBundle:Front:eventUsersAvatars.html.twig" with {'event': event, 'pastEvent' : pastEvent} %}  
    {% endif %}   
</a>   
<div class="clearfix"></div>