<div id="event_collapse_{{event.id}}" class="panel-collapse collapse {% if event.id == currentSelectedEventId %}in{% endif %}">
    <div class="panel-body panel-body-event">
        <div class="row">
            <div class="col-md-5">
                <div class="row event_left">

                    {% if admin is defined and admin %}
                        <div id="{{event.id}}" class='crop-eventPicture'>
                            <div class="eventPicture-link eventPicture-view" title="Choisir une image pour cet événement">
                                <img src="{{event.getPicturePath}}" alt="{{event.title}}" class="img-rounded img-responsive">
                            </div>   
                            {% include 'OmaracujaAdminBundle:Admin:eventPicture_cropping_modal.html.twig' with {'eventPictureForm': eventPictureForms['event_'~event.id], 'event':event } %}
                        </div>
                    {% else %}

                        <div id="{{event.id}}">
                            <img src="{{event.getPicturePath}}" alt="{{event.title}}" class="img-rounded img-responsive">

                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-7">     
                <a href="http://maps.google.com/maps?q={{event.place | url_encode }}" target='_blank'>
                    <img class="img-rounded img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.mapX }},{{ event.mapY }}&zoom=15&size=400x403&markers=color:red%7C{{ event.mapX }},{{ event.mapY }}">
                </a>

            </div>

        </div>
                    {% if privilege is defined and privilege and event.hasPrivateDescription %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                    <div class="agenda_description_panel panel panel-default">
                        <div class="panel-body-event">
                            {% autoescape false %}
                                {{ event.privateDescription }}
                            {% endautoescape %}
                        </div>
                    </div>
            </div>
        </div>
                {% endif %} 
        <br/>
    </div>
</div>