{% extends "::base.html.twig" %}

{% block title %}O Maracujá - NewsLetter{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <br/>
    <br/>
 <br/>
    <div class="main">  
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h3>Inscription à la NewsLetter</h3>    
                <br/>        
                <div class="col-md-12">  
                    {{ form_start(form) }} 
                    {% if(erreur is defined and erreur) %}
                        <div class="row">                  
                            <div class="col-md-12">        
                                <p class="bg-danger text-red-omaracuja">&nbsp;Une erreur est survenue. Vous êtes probablement déjà inscrit(e) à la newsletter.</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">                  
                        <div class="col-md-4">        
                            {{ form_label(form.firstname) }}
                        </div>
                        <div class=" col-md-8">  
                            <div class="form-group">
                                <div class="error_list">{{ form_errors(form.firstname) }}</div>
                                {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">  
                        <div class="col-md-4">        
                            {{ form_label(form.name) }}
                        </div>
                        <div class=" col-md-8">  
                            <div class="form-group">
                                <div class="error_list">{{ form_errors(form.name) }}</div>
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">  
                        <div class="col-md-4">        
                            {{ form_label(form.email) }}
                        </div>
                        <div class=" col-md-8">  
                            <div class="form-group">
                                <div class="error_list">{{ form_errors(form.email) }}</div>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'monemail@mail.com'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row _create_submit">  
                        <div class="form-group">
                            <div class="text-center">
                                <input type="submit" class="btn btn-default btn-success text-right" value="S'abonner" />
                            </div>
                        </div>
                    </div>
                    {{form_end(form)}}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
