{% extends "::base.html.twig" %}

{% block title %}Omaracuja{% endblock %}

{% block connexion %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block content %}
    <div class="main">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="presentation_img">
                    <img class="logo_img_shadows img-responsive" src="{{ asset('bundles/omaracujafront/images/omaracuja_logo_shadows.png') }}" />                                    
                </div>
            </div>
        </div>
        <br/>            
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% autoescape false %}
                    {{ contenu_presentation}}
                {% endautoescape %}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="presentation_img_static img-responsive" src="{{ asset('bundles/omaracujafront/images/omaracuja_img_static.jpg') }}" />
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-warning">Date à venir</h3>
                        <ul class="list-unstyled">
                            {% for eventByMonth in events %}
                                {% for event in eventByMonth %}
                                    <li>{{ event.startAt |localizeddate('none', 'none', 'fr_FR', null, "cccc dd MMMM Y 'à' H:mm") }} -  {{ event.title }} - {{ event.place }}</li>
                                    {% endfor %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>

    {% endblock %}